TextBuddy/test.txt
TextBuddy/build/classes/.netbeans_update_resources
TextBuddy/build/classes/.netbeans_automatic_build
TextBuddy/build/built-jar.properties
TextBuddy/build/test/results/TEST-textbuddy.TextBuddyTest.xml
TextBuddy/build/
/TextBuddy/dist/
TextBuddy/nbproject/
